.card {
  width: 100%;
  height: 30rem;

  opacity: 0;

  position: relative;

  &:nth-child(1n) {
    @media only screen and (max-width: 1200px) {
      grid-column: 1/3;
    }
    @media only screen and (max-width: 850px) {
      grid-column: unset;
    }
  }
  &:nth-child(2n) {
    @media only screen and (max-width: 1200px) {
      grid-column: 3/5;
    }
    @media only screen and (max-width: 850px) {
      grid-column: unset;
    }
  }
  &:nth-child(3n) {
    @media only screen and (max-width: 1200px) {
      grid-column: 2/4;
    }
    @media only screen and (max-width: 850px) {
      grid-column: unset;
    }
  }

  &:hover {
    .card__front {
      transform: rotateY(180deg);
    }
    .card__back {
      transform: rotateY(0deg);
    }
  }

  &__front {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;

    &--1 {
      background-image: linear-gradient(
          to right,
          rgba(#703d57, 0.8),
          rgba(#703d57, 0.2)
        ),
        url(../../assets/Mousa-personal-website.PNG);
      background-size: cover;
      background-position: 50%;

      transition: all 0.4s ease;
    }

    &--2 {
      background-image: linear-gradient(
          to right,
          rgba(#703d57, 0.8),
          rgba(#703d57, 0.2)
        ),
        url(../assets/Mapty-project.PNG);
      background-size: cover;
      background-position: 50%;

      transition: all 0.4s ease;
    }

    &--3 {
      background-image: linear-gradient(
          to right,
          rgba(#703d57, 0.8),
          rgba(#703d57, 0.2)
        ),
        url(../assets/A-simple-word.PNG);
      background-size: cover;
      background-position: 50%;

      transition: all 0.4s ease;
    }
  }

  &__back {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(
      to right bottom,
      var(--primary-color-dark) 70%,
      var(--tertiary-color)
    );
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
    backface-visibility: hidden;
    transition: all 0.4s ease;
    padding: 3rem;
  }

  &__text {
    font-size: 1.5rem;
    color: var(--tertiary-color);

    @media only screen and (max-width: 480px) {
      font-size: 1.25rem;
    }
  }

  &__icon-box {
    font-size: 2.5rem;
    position: absolute;
    bottom: 2rem;
    right: 3rem;

    @media only screen and (max-width: 370px) {
      font-size: 2rem;
      bottom: 1.4rem;
    }
  }

  &__icon {
    color: var(--primary-color-dark);
    transition: all 0.4s ease;

    &:hover {
      transform: scale(1.1);
    }
  }
}
