:root {
  --primary-color: #fce1cc;
  --primary-color-dark: #705557;
  --primary-color-dark-2: #703d57;
  --primary-color-light: #8a6d6e;

  --secondary-color: #b8c6eb;
  --secondary-color-dark: #8ca3e4;

  --tertiary-color: #d9b8c4;
  --tertiary-color-light: #dac6cd;
}

$padding-sides: 5rem;
$padding-sides-sm: 2rem;

$margin-sections-top: 5rem;
$margin-sections-bottom: 15rem;

$font-size-normal: 2rem;
$font-size-normal-sm: 1.5rem;
$line-height-normal: 1.45;
